Source: rtcom-accounts-plugin-telegram
Priority: optional
Section: user/network
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends: debhelper (>= 11), librtcom-accounts-ui-dev,
 librtcom-accounts-widgets-dev (>= 4.141.0), libgtk2.0-dev, libglade2-dev,
 libhildon1-dev, libtelepathy-glib-dev, libhildonmime-dev
Standards-Version: 4.1.3
Vcs-Browser: https://github.com/maemo-leste-extras/rtcom-accounts-plugin-telegram
Vcs-Git: https://github.com/maemo-leste-extras/rtcom-accounts-plugin-telegram.git

Package: rtcom-accounts-plugin-telegram
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libaccounts-glade, purple-telegram
Description: Telegram plugin for the Accounts applet
 Plugin for configuring telepathy telegram account
XSBC-Maemo-Display-Name: Telegram Accounts Plugin
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAA3NCSVQICAjb
 4U/gAAAAYnpUWHRSYXcgcHJvZmlsZSB0eXBlIEFQUDEAAHicVcixDYAwDADB
 3lN4hHccHDIOQgFFQoCyf0EBDVee7O1so696j2vrRxNVVVXPkmuuaQFmXgZu
 GAkoXy38TEQNDyseBiAPSLYUyXpQ8HMAAAIHUExURQAAAAB/vx9/nwCOqgCO
 xwB/sxmZzBeL0S+v8S6t7S6w7S6w8Sul4Suo5Sum4ium5S6s7C2q6S2q7C2t
 6S2r6S+x8i6y8zGy8y2s5yyq5yyq6S2t6y2v7S2u7C2p5C2p5i2r6Cyq5i6s
 6iyr6S2r6Syr6Cyr6i6r6C6s6iyp5S2p5iyo5Syo5Syo5Syp5Syp5iyp5yyq
 5yyn4yyn5C2o5Syo5Cyo5Syp5Syo5Syp5i2p5i2p5QCa3QCb3QCc3QCd3gCe
 3gGe3gqf3gyf3g2f3g+f3hOg3hSg3hag3hah3xeh3xih3xmh3xqh3xuh3xyh
 3x2i3x6i3x+i3yCi3yGj3yKi3yOj3ySj3yWj3yWj4Caj3yaj4Cak4Cek4Cik
 4Cmk4Cqk3yqk4Cql4Cuk4Cul4Cyl4Cyl4Sym4Sym4i2n4i2p5S2p5i2q5y2q
 6C2r5y2r6C6l4C6m4C6r6C6r6S6s6i6t6y+u7TWn4Tin4T+q4kCq4kes4kuu
 41ex5Fu05WG15Wm552u55m6753G853K754LC6YTD6ovG65LK7JfM7ZnN7aDP
 7qDQ7qHP7qHR7qPR7qTR76nU76rT76rU8KzV8K/X8Lnb8r3e88Hf88fi9cvl
 9s7m9tjr+Nrs+ODv+ePx+uXy+u72/PD3/PP5/fT6/fb7/ff7/fn8/vr9/vv9
 /vz+//3+/////6SAQLIAAAA8dFJOUwAICAkJCgoLRkdHR0xMTU1NTk5OT2Jj
 Y31+foiIjY6Ojo+QkZGmpqamuLi5wuTk5OTk6+v6+/v7/f39/pKSnMoAAAKP
 SURBVBgZjcGHQxJxGAbgr2WFWqmJEuJIKsgBSpFZiWVluRomttS8eM8Dzqxj
 tPe0aXtne/n7IxM9rrvjQJ6HDCzIL7FUVlpK8hdSFoocLm84KomiFA1769cW
 UmY2Tywk8JDxQijmsVF69mZRgI4gNleTsVx3hIcBPtJgIgNlY0GkERy1Uoqa
 ODKIryedWgkZSbWk4ZQwB6mGVMrimFPcSorcMWRh1ERJDUFkIegmmT2CrESq
 adYWHulxUPDNNMMmIp3De7edaQkgSbRRgkeAkcBAR+vVV1Nssi8AmeChaStj
 MDDUufvSi68s4fwQkmJFROQIQW/wQMvZic9s1q+THJJCDiJyCdAYPui7MD7J
 FG/aoBBcRIs38VDp3cHd/cjUrvdDwXtzaHkYiv5dLbffM62/W6ESzidzFEl7
 rr1lKV52QSVqplUSZP4bzMCVI1CRLFQlQrbvMUv1xQc1sYKqRMi4vu8sxUQX
 1MQKskhIGux7+pvpXByAmmQhcxQKrv3YQ6bxqQ0aUTMtC0OF6/bd/8n+u7cf
 GuF8yvHyUAt09owzhZ+DGu9dRFQvQCvge8JkH1qhIdQTkSMEnUALk93phUbI
 QUSFMeh1P2Izpk4PQyNWQNM8AnS4o1Ms4d12aAgeSrCJ0Ot4wBJu+qEh2mhG
 Mw8d7sQfxtiPQxzU+M00qzoCvfZnjLHXO6ERsZPMHYSe7xtjl49DLeiiJNMp
 6A2ee36rCxpjJlJY49Ab6vFDI24lFaeEOUhO0qiVkJFUSzrOODKIOymFdTSI
 NIJjVjKw1B0ZgYGRiGsJGbM3iQJ0BLFpNaVna4yFBB4yXgjFGm2UWcG6ug3h
 qCSKUjS8sW7NCsrCvLzi0vLy0uK8+ZTqH/v04/snzNXbAAAAAElFTkSuQmCC
